@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*    google fonts */

  /* --------------------------- */
  /* font-family: 'Cookie', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif; */
  /* -------------------------- */
  /*    General font */
  font-family: 'Poppins', sans-serif;
}
/*   General----------------------------------- */
    body::-webkit-scrollbar {
      display: none;
    }
  
/*  submitn input -----------------------------*/
.submitInp {
  width: 50%;
  padding: 5px 1rem;
}
::placeholder {
  color: rgb(218, 218, 218);
  opacity: 1;
}

/* input buttons ------------------------------*/
.inpElem {
  width: 80%;
  padding: 10px 1rem;
  margin: 6px 0px;
  background-color: #0f0c29;
  border: none;
  color: #fff;
}
/* ---------------------------------------- */


/*      Home         */
.Home{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(45deg, #24243e ,#2e6b74 , #302b63,#be2525 , #0f0c29);
  
}
/*      Home Ends   --------------------------------------------------------------------------------------------------------------------------------------------*/










/*   signUp page --------------------------------------------------------------------------------------------------------------------------------------------*/

.SignUp{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #24243e ,#2e6b74 , #302b63,#be2525 , #0f0c29);
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUpForm{
  z-index: 99;
  height: 60vh;
  width: 40vw;
  background: url("./assets/abstract-colorful-background-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(0, 0, 0,0.4);
}
#animationCont{
   position: absolute;
   min-height: 800px;
   min-width: 800px;
   border-radius: 50%;
}
.passwordInpCont{
  width: 80%;
  display: flex;
}
.passwordInp{
  width: 90%;
}

.showPassword{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.showPasswordInp{
  cursor: pointer;
}
.submitInpCont{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.textBg{
    position: absolute;
    font-size: 600px ;
    background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255,0.3));
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    color: rgba(0,0,0,0);
    background-clip: text;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
/* signUp block ends ------------------------------------------------------------------------------------------------------------------ */


/*  calender---------------------------------------------------------------------------------------------------------- */
.Event{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #24243e ,#2e6b74 , #302b63,#be2525 , #0f0c29);
}










/*  calender block ends
 */


/*  Login Page  */

.Login{
    height: 100vh;
      width: 100vw;
      background: linear-gradient(45deg, #24243e ,#2e6b74 , #302b63,#be2525 , #0f0c29);
      display: flex;
      justify-content: center;
      align-items: center;
}
#loginForm{
      z-index: 99;
      height: 60vh;
      width: 40vw;
      background: url("./assets/Login.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
}
/*  block ends  */



/*  sidebar */

.Sidebar{
  z-index: 99999;
  left: 0;
  position: absolute;
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(103, 95, 173,0.5);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

/*.Sidebar li{
   width: 100%;
   list-style: none;
   padding: 1rem;
   font-size: 21px;
   color: #fff;
   background-color: yellow;
   margin: 0.8rem 0px;
} */
.profileList{
  margin: 5px 0px;
   min-height: 50px;
   min-width: 50px;
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}

.sidebarRouteBtn{
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.toggleSideBar{
   display: none;
}



















/*   ---------------------------------Responsive --------------------------------------- */
@media only screen and (max-width : 1000px){
   .textBg::-webkit-scrollbar{
       display: none;
   }
   body::-webkit-scrollbar{
       display: none;
   }
   .textBg{
    font-size: 300px;
   }

} 

@media only screen and (max-width : 600px) {
    .textBg::-webkit-scrollbar {
       display: none;
    }
    body::-webkit-scrollbar {
          display: none;
        }
    #signUpForm{
      width: 85%;
    }
    #loginForm{
      width: 85%;
    }
    .homeHeadingCont{
      width: 80%;
    }
   
  .textBg {
    display: none;
    font-size: 300px;
  }
  .Sidebar{
    display: none;
  }
  .Welcome{
    width: 90vw;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(45deg,rgb(1, 79, 143),rgb(64, 42, 161));
  }
  .welcomeText{
     width: 80%;
     height: 80%;
     z-index: 2;
     position: relative;
     background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4));
     backdrop-filter: blur(0.1rem);
     border-radius: 15px;
    }
  .illustratonCont{
    width: 100%;
     position: absolute;
  }
  .illustratonCont img{
    width: 100vw;
    opacity: 0.8;
  }
  .toggleSideBar{
    display: block;
    cursor: pointer;
  }

}